{% load static %}
<!--====== FOOTER PART START ======-->

		<section id="footer" class="footer-area">
			<div class="container">
				<div class="footer-widget pt-75 pb-120">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-7">
							<div class="footer-logo mt-40">
								<a href="#">
									<img src="{% static 'logo.png '%}"  alt="Logo">
								</a>
								<p class="mt-10">Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh id elit.</p>
								<ul class="footer-social mt-25">
									<li><a href="#"><i class="lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni-twitter-original"></i></a></li>
									<li><a href="#"><i class="lni-instagram"></i></a></li>
								</ul>
							</div> <!-- footer logo -->
						</div>

						<div class="col-lg-8 col-md-8 col-sm-7 float-right">
							<div class="footer-info mt-50">
								<h5 class="f-title">Contact Info</h5>
								<ul>
									<li>
										<div class="single-footer-info mt-20">
											<span>Phone :</span>
											<div class="footer-info-content">
												<p>+88123 4567 890</p>
												<p>+88123 4567 890</p>
											</div>
										</div> <!-- single footer info -->
									</li>
									<li>
										<div class="single-footer-info mt-20">
											<span>Email :</span>
											<div class="footer-info-content">
												<p>contact@yourmail.com</p>
												<p>support@yourmail.com</p>
											</div>
										</div> <!-- single footer info -->
									</li>
									<li>
										<div class="single-footer-info mt-20">
											<span>Address :</span>
											<div class="footer-info-content">
												<p>5078 Jensen Key, Port Kaya, WV 73505</p>
											</div>
										</div> <!-- single footer info -->
									</li>
								</ul>
							</div> <!-- footer link -->
						</div>
					</div> <!-- row -->
				</div> <!-- footer widget -->
				<div class="footer-copyright pt-15 pb-15">
					<div class="row">
						<div class="col-lg-12">
							<div class="copyright text-center">
								<p>Crafted by <a href="https://kabhishek18.com" rel="nofollow">@kabhishek18.com</a></p>
							</div> <!-- copyright -->
						</div>
					</div> <!-- row -->
				</div> <!--  footer copyright -->
			</div> <!-- container -->
		</section>

<!--====== FOOTER PART ENDS ======-->